*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
  color:#425062;
}

.product-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

span {
  color:#425062;
  font-weight: 800;
  font-size: 18px;
}

.product-list {
	margin-top: 20px;
	text-align: center;
	color:#425062;
	font-weight: 600;
	font-size: 15px;
}